//fonts
$font-main: "Lato", sans-serif;
$font-display: "Josefin_Sans", sans-serif;

$font-size-1: 1.6rem;

// Grid

$grid-width: 114rem;
$grid-row-gap: 6rem;
$grid-col-gap: 6rem;


//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-dark-3: #777;
$color-grey-dark-4: #999;

$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;
$color-grey-light-4: #ccc;

$color-white: #fff;
$color-black: #000;

