.navbar{
    display: inline-block;
    padding-top: 0.8rem;
    border-top: 1px solid $color-grey-dark-4;
    list-style: none;
    
    &__item{
        list-style: none;
        display: inline;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &,
        &:link,
        &:visited{
            text-decoration: none;
            color: $color-grey-light-2;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 500;

            display: inline-block;
            padding: 0.5rem 0.8rem;
            transition: all 0.2s;
        }

        &:hover,
        &:active{
            background-color: $color-grey-dark-1;
            box-shadow: 0 1.5rem 6rem rgba($color-black, 0.4);
            transform: scale(1.16) rotate(3deg);
        }
    }
}