.u-margin-top-lg{ margin-top: 6rem;}
.u-center{ text-align: center; }

.u-margin-bottom-lg { margin-bottom: 6rem; }
.u-margin-bottom-md { margin-bottom: 4rem; }
.u-margin-bottom-sm { margin-bottom: 2rem; }
.u-margin-bottom-xsm { margin-bottom: 1rem; }

.u-margin-top-lg { margin-top: 6rem; }
.u-margin-top-md { margin-top: 4rem; }
.u-margin-top-sm { margin-top: 2rem; }
.u-margin-top-xsm { margin-top: 1rem; }