.section-about{
    background-color: $color-grey-light-2;
    margin-top: -20vh;
    padding: 25rem 0;

    @include respond(tab-port){
        padding: 20rem 0;
    }
}

.section-tours{
    background-color: $color-grey-light-2;
    padding: 20rem 0 8rem 0;
    margin-top: -10rem;
    min-height: 100rem;

    @include respond(tab-port){
        padding: 15rem 0;
    }
}

.section-stories{
    background-color: #fff;
    padding: 10rem 0;
    position: relative;
    z-index: 100;
    overflow: hidden;

    @include respond(tab-port){
        padding: 5rem 0;
    }
}

.section-contact{
    padding: 10rem 0;
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
    
    @include respond(tab-port){
        padding: 5rem 0;
    }

    &__box{
        background-color: #fff;
        box-shadow: 0 1.6rem 4rem rgba($color-black, 0.4);
        border-radius: 3px;
        overflow: hidden;
        padding: 4rem;
        background-image: linear-gradient(
            110deg,
            rgba($color-white, 0.9) 50%,
            transparent 50%),
            url(../img/nat-10.jpg);
            @include respond(tab-land){
                background-image: linear-gradient(
                    125deg,
                    rgba($color-white, 0.9) 33.333%,
                    rgba($color-white, 0.9) 66.66666%,
                    transparent 33.3333%
                ), 
                url(../img/nat-10.jpg);
            }
            @include respond(tab-port){
                padding: 5rem 0;
                background-image: linear-gradient(
                    to right,
                    rgba($color-white, 0.9) 0%,
                    rgba($color-white, 0.9) 100%
                ), 
                url(../img/nat-10.jpg);
                & > div{
                    text-align: center;
                } 
            }
    }
}